{% extends 'base.html' %}

{% block head %} 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}

{% block body %} 

<h1> {{ message }}</h1>
</br>
</br>
</br>

<a href={{prev_url}} class="link" />Back</a>
<a href={{dashboard}} class="link" />Home</a>


{% endblock %}
