{% extends 'base.html' %}

{% block head %}

<title>Change Password</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-rt-7 well">
            Reset Password
        </div>

        <form action="complete_reset_password" method="POST">
        <div class="col-rt-7 well">

            <div class="form-group">
                <label for="email">Enter Pin Code: </label>
                <input type="number" maxlength="6" minlength="6" name="pincode" class="form-control" placeholder="Pin Code" value="" required />
            </div>

            <div class="form-group">
                <label for="email">New Password: </label>
                <input type="password" minlength="6" name="newpassword" class="form-control" placeholder="New Password" value="" required />
            </div>

            <div class="form-group">
                <label for="email">Confirm Password: </label>
                <input type="password" minlength="6" name="confirmpassword" class="form-control" placeholder="Confirm password" value="" required />
            </div>

            <div class="form-group">
                <input type="hidden" name="originalpincode" class="form-control" value={{original_pincode}} required />
            </div>

            <div class="form-group">
                <input type="hidden" name="email" class="form-control" value={{email}} required />
            </div>

            <input type="submit" class="btnAddFlight"  value="Reset Password"/>

        </div>
    </form>
    </div>
</div>

{% endblock %}

