{% extends 'base.html' %}

{% block head %}

<title>Admin Dashboard</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="inactive"><a href="passenger_dashboard"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li class="inactive"><a href="view_flights_passenger"><i class="fa fa-list-alt fa-fw"></i>View Flights</a></li>
                <li class="active"><a href=""><i class="fa fa-file-o fa-fw"></i>Search Flights</a></li>
                <li class="inactive"><a href="book_ticket"><i class="fa fa-bar-chart-o fa-fw"></i>Book Ticket</a></li>
                <li class="inactive"><a href="cancel_ticket"><i class="fa fa-table fa-fw"></i>Cancel Ticket</a></li>
                <li class="inactive"><a href="edit_passenger_profile"><i class="fa fa-tasks fa-fw"></i>Edit Profile</a></li>
                <li class="inactive"><a href="change_passenger_password"><i class="fa fa-calendar fa-fw"></i>Change Password</a></li>
                <li class="inactive"><a href="logout"><i class="fa fa-book fa-fw"></i>Logout</a></li>            </ul>
        </div>
        <div class="col-md-9 well">
            Search Flight
        </div>

        <form action="search_results" method="POST">
        <div class="col-md-9 well">
            <div class="form-group">
                <input type="text" name="fromdest" class="form-control"  placeholder="From Destination *" value="" required />
            </div>
            <div class="form-group">
                <input type="text" name="todest" class="form-control"  placeholder="To Destination *" value="" required />
            </div>
            <div class="form-group">
                <input type="date" name="date" class="form-control"  placeholder="Date *" value="" required />
            </div>
            <input type="submit" class="btnRegister"  value="Search Flight"/>

        </div>
    </form>
    </div>
</div>

{% endblock %}